<!-- *Begin Footer -->
    <footer class="marketing-site-footer">
    <div class="grid-x grid-padding-x">
        <div class="medium-4 cell">
          <h4 class="marketing-site-footer-name">QCC-AWS Course</h4>
          <p>Building & Maintaining Digital Systems with AWS CDK, Angular & Foundation</p>
          <ul class="menu marketing-site-footer-menu-social simple">
            <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="medium-4 cell">
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>Queensborough Community College<br>Bayside, NY 11364</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>718.631.6262</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>mlawrence@qcc.cuny.edu</p>
          </div>
        </div>
        <div class="large-4 cell">
          <h4 class="marketing-site-footer-title">Photos</h4>
            <div class="grid-x grid-padding-y">
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
	    	<div class="large-4 medium-6 small-12 cell">
              <img src="https://placehold.it/75" alt="" />
            </div>
          </div>
        </div>
      </div>


      <div class="marketing-site-footer-bottom">
        <div class="row large-unstack align-middle">
          <div class="column">
            <p>&copy; MDLawrence - 2021 All rights reserved</p>
          </div>
          <div class="column">
            <ul class="menu marketing-site-footer-bottom-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- *End Footer -->
